<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}API Foot - Liste des Matchs{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="container mt-4">
    {% include 'includes/navbar.html' %}

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <h2>Liste des Matchs</h2>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Équipe Domicile</th>
                <th>Score</th>
                <th>Équipe Visiteur</th>
            </tr>
        </thead>
        <tbody>
            {% for match in matchs %}
            <tr>
                <td>{{ match.id_match }}</td>
                <td>{{ match.equipe_domicile.nom }}</td>
                <td>{{ match.buts_domicile }} - {{ match.buts_exterieur }}</td>
                <td>{{ match.equipe_exterieur.nom }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Aucun match disponible.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'creer_match' %}" class="btn btn-primary mt-3">Ajouter un Match</a>
</body>
</html>
